<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正在打开支付宝...</title>
    <script src="https://open.mobile.qq.com/sdk/qqapi.js"></script>
    <link rel="icon" href="https://i.alipayobjects.com/common/favicon/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://i.alipayobjects.com/common/favicon/favicon.ico" type="image/x-icon">
    <title>正在打开支付宝，请稍候……</title>
</head>
<body background="static/img.jpg" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment: fixed;" >
<script>
    var _0 = "https://ds.alipay.com/?from=mobilecodec&scheme=alipays%3a%2f%2fplatformapi%2fstartapp%3fsaId%3d10000007%26clientVersion%3d3.7.0.0718%26qrcode%3dhttps%253a%252f%252fqr.alipay.com%252fc1x09299h4ubyddzs6fr915%253f_s%253dweb-other&from=mobilecodec";
    var _1 = "https://ds.alipay.com/?from=mobilecodec&scheme=alipays%3a%2f%2fplatformapi%2fstartapp%3fsaId%3d10000007%26clientVersion%3d3.7.0.0718%26qrcode%3dhttps%253a%252f%252fqr.alipay.com%252fc1x09299h4ubyddzs6fr915%253f_s%253dweb-other&from=mobilecodec";
    function is_weixin() {
        if (/MicroMessenger/i.test(navigator.userAgent)) {
            return true
        } else {
            return false
        }
    }
    function is_android() {
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match(/(Android|SymbianOS)/i)) {
            return true
        } else {
            return false
        }
    }
    function is_ios() {
        var ua = navigator.userAgent.toLowerCase();
        if (/iphone|ipad|ipod/.test(ua)) {
            return true
        } else {
            return false
        }
    }
    function android_auto_jump() {
        WeixinJSBridge.invoke("jumpToInstallUrl", {}, function(e) {});
        window.close();
        WeixinJSBridge.call("closeWindow")
    }
    function ios_auto_jump() {
        if (_0 != "") {
            location.href = _0
        } else {
            window.close();
            WeixinJSBridge.call("closeWindow")
        }
    }
    function onAutoinit() {
        if (is_android()) {
            android_auto_jump();
            return false
        }
        if (is_ios()) {
            ios_auto_jump();
            return false
        }
    }
    if (is_weixin()) {
        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener("WeixinJSBridgeReady", onAutoinit, false)
            } else if (document.attachEvent) {
                document.attachEvent("WeixinJSBridgeReady", onAutoinit);
                document.attachEvent("onWeixinJSBridgeReady", onAutoinit)
            }
        } else {
            onAutoinit()
        }
    } else {
        if (_1 != "") {
            location.href = _1
        } else {
            window.close()
        }
    }
</script>
</body>
</html>
